body {
  background-color: antiquewhite;
}

.banner {
  display: flex;
  filter: grayscale(60%);
  height: 500px;
  width: 100%;
  background-size: cover;
  align-items: end;
  justify-content: center;

}

.container {
margin: 20px;
padding: 40px;

}

.container h1 {
  color: white;
  font-size: 78px;
}



.menu-container {
  width: fit-content;
  height: auto;
  margin: auto;

}

.menu-card h2 {
  text-align: center;
}

.banner h2 {
  color: white;
  font-size: 70px;
}

.menu-card {
  margin: 40px;
  padding: 10px;

}

.card {
  width: 500px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 5px;
  padding: 10px;
  border: 2px black solid;

}

.card-content {
  display: grid;
  margin-left: 10px;
  padding: 10px;
}

.card-details {
  display: grid;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  list-style: none;
  color: white;
}

.navbar-links {
  display: flex;
  align-items: center;
}
